/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.error_message {
    color: #5d5f30;
    background-color: #f0f497;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.button_icon {
    display: flex;
    align-items: center;
}